@model List<Order>

<h1>Danh sách đơn hàng</h1>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>id user</th>
                <th>tên người nhận hàng</th>
                <th>địa chỉ</th>
                <th>nội dung</th>
                <th>Ngày đặt hàng</th>
                <th>Tổng tiền</th>
                <!-- Các cột thông tin khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.UserId</td>
                    <td>@order.name</td>
                    <td>@order.ShippingAddress</td>
                    <td>@order.Notes</td>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td>@order.TotalPrice.ToString("C")</td>

                    <!-- Các cột thông tin khác nếu cần -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có đơn hàng nào.</p>
}
