@model IEnumerable<WebBanHang.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1>Danh sách đơn hàng đặt</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                           Mã đơn hàng
                        </th>
                        <th>
                          Tên người nhận
                        </th>
                        <th>
                           Địa chỉ 
                        </th>
                        <th>
                       Tổng tiền
                        </th>
                        <th>
                          Tình trạng đơn hàng
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingAddress)
                            </td>
                            <td>
                                @item.TotalPrice.ToString("#,##0") VNĐ
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="UpdateStatus" asp-route-id="@item.Id" class="btn btn-primary">Cập nhập đơn hàng</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>

