@model IEnumerable<WebBanHang.Models.Product>
@{
    ViewBag.Title = "Products by Category";
    int numOfQuantity = 1;
    var isLikedDict = ViewBag.IsLiked as Dictionary<int, bool>;
    var productsByCategory = Model.GroupBy(p => p.Category?.Name);
}
@foreach (var group in productsByCategory)
{
<div class="container px-4 px-lg-5 mt-5">
            <p class="tieude">@group.Key</p>
            
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-4 justify-content-center">
                @foreach (var item in group.Take(4))
                {
                if (item.LuongTonKho > 0)
                {
                    bool isLiked = isLikedDict != null && isLikedDict.ContainsKey(item.Id) && isLikedDict[item.Id];
                    <div class="col mb-5">
                        <div class="card gap-3" style="width: 18rem;">
                            <div class="card-img-wrapper" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)">
                                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <div class="d-flex">
                                    <span>Price: </span>
                                    <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                                </div>
                                <div class="as">
                                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity">
                                        <button class="btn btn-outline-dark"> <i class="bi-cart-fill me-1"></i> </button>
                                    </a>
                                    <a asp-controller="Home" asp-action="Detail" class="btn btn-primary font-control" asp-route-id="@item.Id">chi tiết</a>
                                    <form>
                                        @Html.AntiForgeryToken()
                                        <button class="likeButton btn btn-outline-dark" type="button" data-product-id="@item.Id">
                                            <i class="bi @(isLiked ? "bi-heart-fill" : "bi-heart")" style="color: @(isLiked ? "red" : "gray");"></i>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col mb-5">
                        <div class="card gap-3" style="width: 18rem;">
                            <div class="card-img-wrapper" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)">
                                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <div class="d-flex">
                                    <span>Price: </span>
                                    <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                                </div>
                             
                                    <div class="alert alert-warning" role="alert">
                                        Hết hàng
                                    </div>
                             
                            </div>
                        </div>
                    </div>
                   
                }

            }
        </div>
        @foreach (var view in group.Take(1))
        {


            <a asp-controller="Home" asp-action="Productcategory" class="view-link" asp-route-categoryId="@view.CategoryId">
                <p>View All</p>

            </a>
        }


</div>
}
<style>
    .card .as {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .likeButton i {
        font-size: 1.5em; /* Điều chỉnh kích thước biểu tượng trái tim */
    }

    .btn-outline-dark {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-img-top {
        height: 300px;
        width: 100%;
        object-fit: cover; /* Đảm bảo hình ảnh giữ tỉ lệ khung hình và lấp đầy khung */
        transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
    }

        .card-img-top:hover {
            transform: scale(1.1); /* Phóng to hình ảnh khi đưa chuột vào */
        }
</style>
