@model List<Order>

<h1>Danh sách sản phẩm bạn đã đặt hàng</h1>

@if (Model != null && Model.Count > 0)
{
    @foreach (var order in Model)
    {
        <h2>Mã đơn hàng: @order.Id</h2>
        <p>Ngày đặt hàng: @order.OrderDate.ToString("dd/MM/yyyy")</p>

        <h3>Sản phẩm trong đơn hàng:</h3>
        <ul>
            @foreach (var item in order.OrderDetails)
            {
                <li>@item.Product.Name - Số lượng: @item.Quantity</li>
                <li><img src=">@item.Product.ImageUrl" /></li>
            }
        </ul>

        <hr />
    }
}
else
{
    <p>Không có đơn hàng nào.</p>
}